body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96;
}
/*.profile{
  height: 50px;
  width: 50px;
}*/

.interest-img {
    padding: 1.5em;
    background: #f5810b;
    position: absolute;
    top: -15%;
    left: 10%;
    width: 80%;
}
.interest-text {
   color:#BD5D38;
	font-size: 25px;
  }


@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 5rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}
.interest img{
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #BD5D38;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 5rem;
}

.list-icons .list-inline-item i:hover {
  color: #BD5D38;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 15rem;
    max-height: 15rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #BD5D38 !important;
}

.text-primary {
  color: #343a40 !important;
}

a {
  color: #BD5D38;
}

a:hover, a:focus, a:active {
  color: #824027;
}




/*-- contact --*/
.contact{
  /*background:url('../img/contactbg.jpg') no-repeat 0px 0px;*/
  background-size:cover;
  background-opacity:0.8;
}
.contact h3{
  color:#fff;
}
.contact .fa{
  font-size:22px;
  color: #BD5D38;
}

.c-w3l{
  margin-top:40px;
}
.c-w3l h4{
  font-size:22px;
  color:#BD5D38;
  margin:10px 0px;
}
.c-w3l h4 a{
  font-size:22px;
  color:#BD5D38;
}
form{
  width:78%;
  margin: 30px auto 0 auto;
}
input[type="text"]{
  width:48%;
  padding:10px;
  background: rgba(255, 255, 255, 0.15);
  border:1px dotted #fff;
  outline:none;
  color:#fff;
}
input.name{
  margin-right:2%;
}
textarea{
  margin:20px 0px;
  padding:10px;
  width:98%;
  height:150px;
  resize:none;
  background: rgba(255, 255, 255, 0.15);
  border:1px dotted #fff;
  outline:none;
  color:#fff;
}
input[type="submit"]{
  background:transparent;
  padding:8px 15px;
  border:1px solid #fff;
  color:#fff;
  -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
input[type="submit"]:hover{
  color: #F58703;
  border:1px solid #F58703;
}

